# directoryIndex file1.html
# Options +Indexes

# Redirect 301 /apache/file1 /apache/dir-test/file1.html

RewriteEngine On
RewriteBase /apache/rewrite-test/
# RewriteRule rewrite-test/index.html /apache/rewrite-test/tmp.html
# RewriteRule rewrite-test/index.html - [F]
# RewriteRule sub1 /sub2/
RewriteRule rewrite-test/imgs/(\d{3}).jpg /apache/rewrite-test/imgs/$1.png
RewriteRule rewrite-test/sub1/(.+\.html) sub2/$1
